header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 50px;
}

body {
  position: relative;
  top: 50px;
  left: 250px;
}